{% extends 'base.html.twig' %}

{% block title %}Bar - Main{% endblock %}

{% block body %}
    {% if selectedPlayer is not empty %}
        {%  set playerId = selectedPlayer.id %}
    {% else %}
        {% set playerId = null %}
    {% endif %}
<div class="container-fluid bar-container">
    <div class="row py-5 staff-select-interface">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <h3>Equipes</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="list-group overflow-auto">
                                {% for team in teams %}
                                    <a href="{{ path('bar', {'teamName' : (team.teamName)}) }}" class="
                                    list-group-item
                                    list-group-item-action
                                    {% if selectedTeam is not empty  and selectedTeam.id == team.id%}
                                    active
                                    {% endif %}
                                    ">{{ team.teamName }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            {% if selectedPlayer is not empty %}
                                <div class="card p-3">
                                    <div class="card-body">
                                        <div>{{ selectedPlayer.name }}</div>
                                        <div>Total : {{ selectedPlayer.dueCheck }}</div>
                                        <div>Nombre de consignes : {{ selectedPlayer.consignes }}</div>
                                    </div>
                                </div>
                            {% endif  %}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h3>Players</h3>
                    <div class="row">
                        <div class="col-12">
                        {% if selectedTeam is not empty %}
                            <div class="list-group overflow-auto">
                            {% for  player in selectedTeam.players%}
                                <a href="{{ path('bar', {'teamName' : (selectedTeam.teamName), 'playerId' : (player.id)}) }}" class="
                                    list-group-item
                                    list-group-item-action
                                    {% if selectedPlayer is not empty  and selectedPlayer.id == player.id%}
                                        active
                                        {% endif %}">{{ player.name }}</a>
                                {% else %}
                                <div>Pas encore de joueurs inscrits</div>
                            {% endfor %}
                            </div>
                            <div class="col-10">
                                <button id="addPlayerBtn" class="btn btn-success mb-2">+</button>
                                {% include '_insert/_newPlayerForm.html.twig' %}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="py-3 col-12">
                            {% if selectedPlayer is not empty  and app.session.get(selectedPlayer.id) is not null%}
                                <table class=" table">
                                    <tbody>
                                        {% for product in app.session.get(selectedPlayer.id).order %}
                                            <tr>
                                                <td>{{ product.name }} </td>
                                                <td>{{ product.quantity }}</td>
                                            </tr>
                                        {% endfor %}
                                       <tr>
                                           <td>Total</td>
                                           <td>{{ app.session.get(selectedPlayer.id).total }}</td>
                                       </tr>
                                    </tbody>
                                </table>
                                <div class="row justify-content-between">
                                    <div>
                                        <a href="{{ path('clear_cart', {'id' : (selectedPlayer.id)}) }}" class="btn btn-outline-danger">Clear</a>
                                    </div>
                                    <div>
                                        <a href="{{ path('resolve_cart', {'id' : (selectedPlayer.id)}) }}" class="btn btn-success">Enregistrer</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row mb-4">
                {% for product in products %}
                    <a href="{{ path('add_product', {'product' : (product.id), 'player' : (playerId)}) }}" class="btn btn-light product m-1">
                        <div>
                            <img src="https://via.placeholder.com/100" alt="{{ product.name }}">
                        </div>
                        {{ product.name }}
                    </a>
                {% endfor %}
            </div>
            <div class="row justify-content-around">
                <a href="{{ path('consigne_remove', {'player' : (playerId)}) }}" class="btn btn-light product m-1">
                    <div>
                        <img src="https://via.placeholder.com/100" alt="">
                    </div>
                    consigne -1
                </a>
                <a href="{{ path('consigne_add', {'player' : (playerId)}) }}" class="btn btn-light product m-1">
                    <div>
                        <img src="https://via.placeholder.com/100" alt="">
                    </div>
                    consigne +1
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="/assets/js/newplayerbar.js" type="text/javascript"></script>
{% endblock %}
